# Environment
.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/
build/

# OS
.DS_Store


# Terraform
**/.terraform/
**/.terraform.lock.hcl

# State files (SENSIBLES)
**/*.tfstate
**/*.tfstate.*
**/terraform.tfstate
**/terraform.tfstate.backup

# Plan files
**/*.tfplan
**/tfplan

# Crash logs
crash.log
crash.*.log
