# Environment
.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/
build/

# OS
.DS_Store

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/tfplan
**/terraform.tfstate
**/terraform.tfstate.backup

# Logs
*.log
docker_errors.log

**/.terraform/*
**/.terraform.lock.hcl
**/*.tfplan
**/tfplan
